<template>
    <div style="height: 1200px">
        <el-button>默认按钮</el-button>
        <el-button type="primary">主要按钮</el-button>
        <el-button type="success">成功按钮</el-button>
        <el-button type="info">信息按钮</el-button>
        <el-button type="warning">警告按钮</el-button>
        <el-button type="danger">危险按钮</el-button>
        <div>
            {{this.getStart()}}
        </div>
    </div>
</template>

<script>
    import {__getItem} from '../../utlis/utlis'
    export default {
      name: "home",
      data () {
        return {
        }
      },
      methods: {
        getStart () {
          window.console.log(__getItem('ss'),'2333')
        },
      },
      mounted () {
      }
    }
</script>

<style scoped>

</style>