<template>
    <div id="Navheader" class="nav-ber" :class="{ 'smaller' : scroll > 200 }">
        <ul class="navigation">
            <li>
                <router-link to="/">
                    {{ $t("navHeader.nav1") }}
                </router-link>
            </li>
            <li>
                <router-link to="/newlist">
                    {{ $t("navHeader.nav2") }}
                </router-link>
            </li>
            <li>
                <a>{{ $t("navHeader.nav3") }}</a>
            </li>
            <li>
                <a>{{ $t("navHeader.nav4") }}</a>
            </li>
            <el-select
                    v-model="value"
                    placeholder="请选择"
                    :change='getChange(value)'
            >
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </ul>
    </div>
</template>

<script>
  import {__setItem} from '../../utlis/utlis'
  export default {
    name: "Navheader",
    data () {
      return {
        scroll: '',
        options: [{
          value: 'us',
          label: '英文'
        }, {
          value: 'zh',
          label: '中文'
        }],
        value: 'zh'
      }
    },
    methods: {
      menu () {
        this.scroll = document.documentElement.scrollTop || document.body.scrollTop;
      },
      getChange (TYPE) {
        window.console.log(TYPE)
        this.$i18n.locale = TYPE;
        __setItem('ss', TYPE)
      }
    },
    mounted () {
      window.addEventListener('scroll', this.menu)
      window.console.log(process.env.NODE_ENV)
    }
  }
</script>

<style lang="scss" scoped>
    #Navheader{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        transition: all .5s;
        color: #ffffff;
        z-index: 1000;
        background: rgba(0, 0, 0, .7);

        .navigation{
            width: 1200px;
            height: auto;
            margin: 0 auto;
            li{
                margin-left: 50px;
                font-size: 14px;
                float: left;

                a{
                    display: block;
                    color: #ffffff;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    cursor: pointer;
                    position: relative;
                    -webkit-transition: color .2s ease-in-out;
                    transition: color .2s ease-in-out;
                }
                a:before {
                    content: "";
                    position: absolute;
                    display: block;
                    bottom: 0;
                    width: 0;
                    border-bottom: solid 2px;
                }
                a:hover{
                    color: #57c790;
                }
                a:hover:before{
                    width: 100%;
                }

                a:before {
                    -webkit-transition: width .2s ease-in-out;
                    transition: width .2s ease-in-out;
                }
            }

            .dber{
                margin-left: 15px;

                span{
                    cursor: pointer;
                    padding: 0 2px;
                }
                .ondber{
                    color: #57c790;
                }
            }
        }
    }
    .nav-ber{
        height: 80px;
        line-height: 80px;
        background: rgba(0, 0, 0, .0);
        -webkit-transition: all .5s;
    }
    .smaller{
        background: rgba(0, 0, 0, .7);
        height: 60px;
        line-height: 60px;
    }
</style>