<template>
    <div id="views">
        <!--头部导航-->
        <Navheader />
        <!--中间内容部分-->
        <transition name="fadesd" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script>
import Navheader from '../components/Navheader/header'
export default {
  name: "views",
  components: {
    Navheader,
  },
}
</script>

<style lang="scss" scoped>
    #views{
        width: 100vw;
        min-height: 100vh;
    }
    .fadesd-enter-active, .fadesd-leave-active {
        transition: all .2s ease;
    }
    .fadesd-enter, .fadesd-leave-active {
        opacity: 0;
    }
</style>